*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #fff;
    font-family: 'Open-Sans';
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* HEADER */

/* TOP SECTION */
header{
    height: 100vh;
}

.top-section{
    display: flex;
    width: 100vw;
    height: 40vh;
}

.top-left-circle{
    background-image: url(asset/Top%20Left%20Circle.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 25vw;
    display: inline-block;
}

.logo-description{
    width: 50vw;
    display: inline-block;
    font-family: "open sans";
    font-size: 24px;
    color: #043963;
}

.logo{
    background-image: url(asset/Scrim%20Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 20vh;
    width: 50vw;
    margin-top: 60px;
    position: relative;
    bottom: 5vh
}

.description{
    height: 150px;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 10px;
    position: relative;
    bottom: 5vh;
}

.top-right-circle{
    background-image: url(asset/Top%20right%20circle.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 25vw;
    background-position: 115px -130px
}

/* MIDDLE */

.middle-container{
    text-align: center;
}

.middle-content{
    height: 20vh;
    padding-top: 10px;
    width: 43vw;
    display: inline-block;
}

.email-input{
    width: 37vw;
    text-align: left;
}

input[type=text]{
    width: 37vw;
    font-family: 'Open Sans';
	font-size: 18px;
	letter-spacing: 1.2px;
    position: relative;
    top: 40px;
    border: none;
}

.email-input-line{
    border-bottom: 2px solid #043963;
    width: 37vw;
    display: inline-block;
    position: relative;
    top: 60px;
    float: left;
}

.arrow-btn a{
    background-image: url(asset/Arrows.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    background-color: #043963;
    height: 64px;
    width: 64px;
    display: inline-block;
    float: right;
    transition: 0.2s;
}

.arrow-btn a:hover{
    background-color: #fff;
    background-image: url(asset/Hover%20Arros.svg);
    border-radius: 10px;
    border: 2px solid #043963;
}

/* BOTTOM HALF */

.bottom-half{
    display: flex;
    width: 100vw;
    height: 40vh;
}

.bottom-left-circle{
    background-image: url(asset/Lower%20Left%20Circle.png);
    background-repeat: no-repeat;
    background-position: 100px top;
    background-size: 250px;
    width: 33vw;
    display: inline-block;
}

.bottom-right-small-circle{
    background-image: url(asset/Lower%20right%20small%20circle.png);
    background-repeat: no-repeat;
    background-position: 220px 150px;
    background-size: 270px;
    position: relative;
    width: 45vw;
    left: 18%;
    z-index: 1;
}

.bottom-right-big-circle{
    background-image: url(asset/Lower%20right%20Circle.png);
    background-repeat: no-repeat;
    width: 36vw;
    background-size: 490px;
    background-position: 100px 0px;
    display: inline-block;
    z-index: 2;
}